.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25%;
  padding-right: 25%;
}

a:visited {
  font-size: small;
  color: black;
}

button {
 margin: 25px;
}
