.nav-container {
  display: flex;
  align-items: center;
  justify-items: auto;
  padding-left: 25%;
  padding-right: 25%;
}

a:visited {
  font-size: small;
  color: black;
}

.nav-btn{
  margin-left: 20px;
  margin-right: 20px;
}
